:root{
    /* colors in order from light to dark */
    --1:#f0f9ff;
    --2:#e0f2fe;
    --3:#bae6fd;
    --4:#7dd3fc;
    --5:#38bdf8;
    --6:#0ea5e9;
    --7:#0284c7;
    --8:#0369a1;
    --9:#075985;
    --10:#082f49;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}


body{
    display:grid;
    height:100vh;
    grid-template:1fr 3fr/1fr 4fr;
   
}

.header{
    background-color: var(--3);
    grid-column:1/-1;
    grid-row:1;
    display:grid;
    grid-template:2fr 3fr/3fr 1fr;
}


.main-content{
    background-color: var(--2);
}


 



.top-right-icons{
    display:flex;
    justify-content:center;
}




.alert, .pfp,.user-name{
    flex:1;
}


.profile-container{
   
    display:grid;
    grid-template:2fr 3fr/1fr 4fr;
    
}


.image{
    height:80px;
    width:80px;
 
    grid-row:1/3;
    justify-self:center;
    align-self: center;
}


.small-profile-text{
    align-self: end;

}

.large-profile-text{
    font-size:2rem;
}

.profile-btns{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    align-items: center;
  padding:30px;
}

.profile-btns > button{
  
    border-radius:30px;
    height:3em;
}


.main-content{
    display:grid;
    grid-template-columns: 4fr 1fr;

}

.projects{
    
    display:grid;
    gap:4px;

    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    align-items: center;
}

.project{
   
   height:156px;
   width:100%;
 
   
   
}

.updates{
    display:grid;
    grid-template-rows: repeat(2, 1fr);
}



button{
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    background: #fff;
    border-radius: 40px;
    padding: 10px;
    font-size: 16px;
    box-shadow: var(--3) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    font-weight: 600;
}

button:hover{
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, var(--3) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
}

.searchbar-bar{
    width:100%;
    height:60%;
    border-radius:800px;
    background-color: white;
}


.searchbar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:26px;
}

.searchbar-bar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:16px;
    padding-top:4px;
}

.alert, .pfp, .user-name{
    display:flex;
    align-items: center;
}

.alert{
    justify-content: flex-end;
}

.pfp{
    justify-content: center;
}

.user-name{
    justify-content: flex-start;
}




.sidebar{
    color:#211d32;
    font-size:1.5rem;
    background-color: var(--4);
    display:grid;
    grid-template-rows: 1fr 1fr;
    padding:56px;
}


.sidebar ul>li{
    padding:6px 0;
    font-weight:900;
    padding:16px 0;
    
}



.sidebar ul{
    list-style: none;
   
}




